@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}


<div class="col-md-6 offset-md-3">
    <h2 class="display-4 font-display text-center">@ViewData["Title"]</h2>
    <hr />
    <form id="account" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group my-1 row align-items-center">
            <label asp-for="Input.Username" class="form-label col-sm-4 text-center align-middle text-sm-end mb-0"></label>
            <input asp-for="Input.Username" class="form-control col mx-2 mx-sm-0" />
            <div class="w-100"></div>
            <span asp-validation-for="Input.Username" class="text-danger col-12"></span>
        </div>
        <div class="form-group my-1 row align-items-center">
            <label asp-for="Input.Password" class="form-label col-sm-4 text-center align-middle text-sm-end mb-0"></label>
            <input asp-for="Input.Password" class="form-control col mx-2 mx-sm-0" />
            <div class="w-100"></div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-check my-1 col-sm offset-sm-4">
            <input asp-for="Input.RememberMe" class="form-check-input" />
            <label asp-for="Input.RememberMe" class="form-check-label">
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
        <div class="form-group gap-2 d-grid my-1">
            <button type="submit" class="btn btn-primary btn-lg border-0">Login</button>
        </div>
        <div class="row">
            <p class="col-sm-6 gap-2 d-grid pe-sm-1 my-0">
                <a id="forgot-password" asp-page="./ForgotPassword" class="btn btn-dark border-0">Forgot your password?</a>
            </p>
            <p class="col-sm-6 gap-2 d-grid ps-sm-1 mb-0 mt-1 mt-sm-0">
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-dark border-0">Don't have an account?</a>
            </p>
        </div>
    </form>
</div>
    
@*<div class="col-md-6 col-md-offset-2">
    <section>
        <h4>Use another service to log in.</h4>
        <hr />
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
